extends extends/_layoutTemplate.jade

//- block nav
//- - var path = 'assets.html'
//- include ./components/_c-nav.jade

block mainInner
  section.row
    article.container
      h1.text-center assets
      h2 grid system
      .row
        .col-md-1
          div
            | .col-md-1
        .col-md-1
          div
            | .col-md-1
        .col-md-1
          div
            | .col-md-1
        .col-md-1
          div
            | .col-md-1
        .col-md-1
          div
            | .col-md-1
        .col-md-1
          div
            | .col-md-1
        .col-md-1
          div
            | .col-md-1
        .col-md-1
          div
            | .col-md-1
        .col-md-1
          div
            | .col-md-1
        .col-md-1
          div
            | .col-md-1
        .col-md-1
          div
            | .col-md-1
        .col-md-1
          div
            | .col-md-1
      
      hr
      h2 background color
      .row
        .col-md-4
          .bg-primary.text-white
            p.mb-0
              | .bg-primary
        .col-md-4
          .bg-secondary
            p.mb-0
              | .bg-secondary
        .col-md-4
          .bg-whiteTransparent
            p.mb-0
              | .bg-whiteTransparent
        .col-md-4
          .bg-success
            p.mb-0
              | .bg-success
        .col-md-4
          .bg-danger
            p.mb-0
              | .bg-danger
        .col-md-4
          .bg-warning
            p.mb-0
              | .bg-warning
        .col-md-4
          .bg-info
            p.mb-0
              | .bg-info
        .col-md-4
          .bg-light
            p.mb-0
              | .bg-light
        .col-md-4
          .bg-dark.text-white
            p.mb-0
              | .bg-dark
        .col-md-4
          .bg-white
            p.mb-0
              | .bg-white
        .col-md-4
          .bg-transparent
            p.mb-0
              | .bg-transparent
      
      hr
      h2 text color
      .row
        .col-md-3
          p.text-primary.mb-0
            | .text-primary
        .col-md-3
          p.text-secondary.mb-0
            | .text-secondary
        .col-md-3
          p.text-whiteTransparent.mb-0
            | .text-whiteTransparent
            small.text-dark (.text-whiteTransparent)
        .col-md-3
          p.text-success.mb-0
            | .text-success
        .col-md-3
          p.text-danger.mb-0
            | .text-danger
        .col-md-3
          p.text-warning.mb-0
            | .text-warning
        .col-md-3
          p.text-info.mb-0
            | .text-info
        .col-md-3
          p.text-light.mb-0
            | .text-light
            small.text-dark (.text-light)
        .col-md-3
          p.text-dark.mb-0
            | .text-dark
        .col-md-3
          p.text-body.mb-0
            | .text-body
        .col-md-3
          p.text-muted.mb-0
            | .text-muted
        .col-md-3
          p.text-white.mb-0
            | .text-white
            small.text-dark (.text-white)
        .col-md-3
          p.text-black-50.mb-0
            | .text-black-50
        .col-md-3
          p.text-white-50.mb-0
            | .text-white-50

      hr
      h2 link color
      .row
        .col-md-3
          a.text-primary(href="#")
            | a.text-primary
        .col-md-3
          a.text-secondary(href="#")
            | a.text-secondary
          small.text-dark
            | a.text-success
        .col-md-3
          a.text-success(href="#")
            | a.text-success
        .col-md-3
          a.text-danger(href="#")
            | a.text-danger
        .col-md-3
          a.text-warning(href="#")
            | a.text-warning
        .col-md-3
          a.text-info(href="#")
            | a.text-info
        .col-md-3
          a.text-light(href="#")
            | a.text-light
          small.text-dark
            | a.text-light
        .col-md-3
          a.text-dark(href="#")
            | a.text-dark
        .col-md-3
          a.text-muted(href="#")
            | a.text-muted
        .col-md-3
          a.text-white(href="#")
            | a.text-white

      hr
      h2 icons (使用到的 Icon)
      a(href="https://material.io/resources/icons", target="new") 資料來源 material.io icons
      .row
        .col-md-3
          h3 共用
          span.material-icons
            | language
          span.material-icons
            | location_on
          span.material-icons
            | date_range
          span.material-icons
            | person
          span.material-icons
            | keyboard_arrow_left
          span.material-icons
            | keyboard_arrow_right
          span.material-icons
            | star
          span.material-icons
            | keyboard_arrow_down
          span.material-icons
            | attach_money
          span.material-icons
            | arrow_drop_down
        .col-md-3
          h3 Detail 頁面：
          span.material-icons
            | wifi
          span.material-icons
            | restaurant
          span.material-icons
            | personal_video
          span.material-icons
            | ac_unit
          span.material-icons
            | room_service
          span.material-icons
            | smoke_free
          span.material-icons
            | local_bar
          span.material-icons
            | kitchen
          span.material-icons
            | add
          span.material-icons
            | remove
        .col-md-3
          h3 Member 頁面：
          span.material-icons
            | hotel
          span.material-icons
            | check
          span.material-icons
            | add_circle
        .col-md-3
          h3 手機尺寸頁面：
          span.material-icons
            | dehaze
          span.material-icons
            | filter_list
          span.material-icons
            | sort
          span.material-icons
            | arrow_back
          span.material-icons
            | keyboard_arrow_down
          span.material-icons
            | close
          
      hr
      h2 字體與字重
      .row
        .col-md-6
          p.font-Raleway.u-fontWeight--Regular.mb-0
            | .font-Raleway.u-fontWeight--Regular - Regular (w400)
          p.font-Raleway.u-fontWeight--Bold.mb-0
            | .font-Raleway.u-fontWeight--Bold - Bold (w700)
          p.font-Raleway.u-fontWeight--ExtraBold.mb-0
            | .font-Raleway.u-fontWeight--ExtraBold - ExtraBold (w800)
        .col-md-6
          p.font-OpenSans.u-fontWeight--Regular.mb-0
            | .font-OpenSans.u-fontWeight--Regular - Regular (w400)
          p.font-OpenSans.u-fontWeight--Bold.mb-0
            | .font-OpenSans.u-fontWeight--Bold - Bold (w700)
          p.font-OpenSans.u-fontWeight--ExtraBold.mb-0
            | .font-OpenSans.u-fontWeight--ExtraBold - ExtraBold (w800)
      
      hr
      h2 自適應字級 
        small (配合斷點每單位 4 級)
      .row
        .col-md-6
          p.mb-0
            | 基本字級 (16px / 1rem)
          p.u-fontSize--5.mb-0
            | p.u-fontSize--5 - 全域 20 px
          p.u-fontSize-sm--5.mb-0
            | p.u-fontSize-sm--5 - sm 變 20 px
        .col-md-6
          p.u-fontSize-md--5.mb-0
            | p.u-fontSize-md--5 - md 變 20 px
          p.u-fontSize-lg--5.mb-0
            | p.u-fontSize-lg--5 - lg 變 20 px
          p.u-fontSize-xl--5.mb-0
            | p.u-fontSize-xl--5 - xl 變 20 px
