<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="assets/css/all.css")
  body.container
    p 這是測試的第一段話
    .card(style='width: 18rem;')
      .card-header
        | Featured
      ul.list-group.list-group-flush
        li.list-group-item Cras justo odio
        li.list-group-item Dapibus ac facilisis in
        li.list-group-item Vestibulum at eros

//- extends extends/_layoutTemplate.jade

//- block nav
//-   - var path = 'index.html'
//-   include ./components/nav/_c-nav.jade
//-   include ./components/nav/_c-sidebar.jade

//- block header
//-   // header.container-fluid
//-   header.container-fluid
//-     section.row
//-       article.container-fluid.c-visionCard.mb-12.mb-lg-18
//-         .c-visionCard__photo.c-visionCard__photo--indexMain(data-aos='fade-left', data-aos-delay="600")
//-         .c-visionCard__mask
//-           .c-visionCard__mask__inner
//-         .row
//-           .container
//-             .row.min-vh-100.c-visionCardContent
//-               .col-xl-5.c-visionCardContent__inner
//-                 h1.display-1.c-visionCardContent__inner__title.mb-6(data-aos="fade-left", data-aos-delay="1500")
//-                   | Enjoy Your Minimalist Lifestyle.
//-                 h2.display-2.c-visionCardContent__inner__text.mb-0.mb-sm-12(data-aos="fade-left", data-aos-delay="1600")
//-                   | The best crafts in Taiwan. Get your free shipping on the first order.
//-               .col-xl-2
//-                 a.btn.btn-primary.d-block(href="product.html", data-aos="fade-left", data-aos-delay="1700", data-aos-offset="-5")
//-                   | Shop now
//-   // /header.container-fluid
  
//- block mainInner
//-   // .c-staggerList
//-   section.container-fluid
//-     article.row
//-       ul.container.c-staggerList.mb-12.mb-md-18
//-         li.c-staggerList__item.js-c-staggerList-anchorOne(data-aos="fade-left")
//-           .col-lg-6.c-staggerListCover
//-             .c-staggerListPseudoPhoto.c-staggerListPseudoPhoto--bgImgOne
//-           .col-lg-4.c-staggerListContent.mx-lg-auto(data-aos='zoom-in-right', data-aos-delay='400', data-aos-anchor='.js-c-staggerList-anchorOne')
//-             h2.c-staggerListContent__title
//-               | Special Clays
//-             p.c-staggerListContent__text.text-secondary
//-               | A general body formulation for contemporary earthenware is 25% kaolin, 25% ball clay, 35% quartz and 15% feldspar.
//-             a.font-weight-bold.text-capitalize(href="product.html") learn more
//-         li.c-staggerList__item.js-c-staggerList-anchorTwo(data-aos="fade-right")
//-           .col-lg-6.c-staggerListCover
//-             .c-staggerListPseudoPhoto.c-staggerListPseudoPhoto--bgImgTwo
//-           .col-lg-4.c-staggerListContent.mx-lg-auto(data-aos='zoom-in-left', data-aos-delay='400', data-aos-anchor='.js-c-staggerList-anchorTwo')
//-             h2.c-staggerListContent__title
//-               | Less is more
//-             p.c-staggerListContent__text.text-secondary
//-               | Trimming pottery can transform a weighty Earth-bound pot into one that is a pleasure to hold, look at, and use.
//-             a.font-weight-bold.text-capitalize(href="product.html") learn more
//-         li.c-staggerList__item.js-c-staggerList-anchorThree(data-aos="fade-left")
//-           .col-lg-6.c-staggerListCover
//-             .c-staggerListPseudoPhoto.c-staggerListPseudoPhoto--bgImgThree
//-           .col-lg-4.c-staggerListContent.mx-lg-auto(data-aos='zoom-in-right', data-aos-delay='400', data-aos-anchor='.js-c-staggerList-anchorThree')
//-             h2.c-staggerListContent__title
//-               | Marvelous Detail
//-             p.c-staggerListContent__text.text-secondary
//-               | In <span class="font-italic">Craftsman</span>, the art director, working with marketers, develops or creates an idea of a new creation.
//-             a.font-weight-bold.text-capitalize(href="product.html") learn more
//-   // /.c-staggerList
//-   // .c-author
//-   section.container-fluid.bg-black.c-author.c-author--bgImg.mb-12.mb-lg-18.js-c-author-anchor(data-aos='flip-down', data-aos-anchor-placement='center-bottom', data-aos-offset="50")
//-     article.row.h-100
//-       .container.h-100
//-         .row.h-100.pt-6.pb-2.d-flex.flex-column.flex-lg-row.justify-content-between.align-items-center
//-           .col-lg-4
//-             h3.h2.font-weight-bold.u-lineHeight-150.text-white.mb-0.mb-lg-7(data-aos='flip-down', data-aos-anchor='.js-c-author-anchor', data-aos-delay='800')
//-               | “I want to make the life more simple by crafts.”
//-           .col-lg-3(data-aos='flip-down', data-aos-anchor='.js-c-author-anchor', data-aos-delay='1200')
//-             h2.h5.text-whiteTranslucent.mb-1.mt-4
//-               | Art Director
//-             h3.h4.font-weight-normal.text-white.mb-0
//-               | hsiao-Ming Chen
//-             ul.list-unstyled.list-inline.mb-0
//-               li.list-inline-item.mr-lg-6
//-                 a.small.d-inline-block.font-weight-bold.py-4(href="#") Instagram
//-               li.list-inline-item
//-                 a.small.d-inline-block.font-weight-bold.py-4(href="#") Twitter
//-   // /.c-author
//-   // c-productSlideShow.jade
//-   include ./mixins/_mixin-slideRoo.jade
//-   include ./components/_c-productSlideShow.jade
//-   // /c-productSlideShow.jade
//-   // _c-modalRightScrollable-callCart.jade
//-   include ./components/_c-modalRightScrollable-callCart.jade
//-   // /_c-modalRightScrollable-callCart.jade

//- block footer
//-   include ./components/_c-footer.jade
