<!DOCTYPE html>
html(lang="zh-TW")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title title 
    link(rel="stylesheet", href="assets/css/all.css")
  body.u-overflowX-hidden    
    // block nav
    block nav
      // c-nav
      nav.navbar.navbar-expand-md.navbar-white.bg-white.py-2.px-4.py-md-4
        .container-md
          //- a.navbar-brand(href='#') Navbar
          button.navbar-toggler.p-0(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.material-icons.align-middle dehaze
          a.logo(href='index.html')
            img(src="assets/img/ic-logo-aloha.svg", alt="")
          a.nav-link.text-gray-dark.order-md-2.px-0.pl-md-12(href='#') Login
          #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.text-center.ml-auto
              li.nav-item.dropdown
                a#navbarDropdown.nav-link.text-black.d-md-flex.pr-md-0.pl-md-12(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  span.material-icons.align-middle
                    | language
                  span.material-icons.align-middle
                    | arrow_drop_down
                .dropdown-menu(aria-labelledby='navbarDropdown')
                  a.dropdown-item(href='#') English (US)
                  a.dropdown-item(href='#') 日本語
                  a.dropdown-item(href='#') Italiano
              li.nav-item
                a.nav-link.text-gray-dark.pr-md-0.pl-md-12(href='#')
                  | Sign up
          
      // /c-nav
    // /block nav

    // block header
    block header
    // /block header

    // main.container-fluid
    main.container-fluid
      .row
        // block mainInner
        block mainInner
        // /block mainInner
    // /main.container-fluid

    // block footer
    block footer
    // /block footer

    // block global-scripts
    block globalScripts
      script(src='assets/js/allVendors.js?#{new Date().getTime()}')
      script(src='assets/js/all.js?#{new Date().getTime()}')
    // /block global-scripts