<!DOCTYPE html>
html(lang="zh-TW")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title title 
    link(rel="stylesheet", href="assets/css/all.css")
  body.u-overflowX-hidden    
    // block nav
    block nav
      include ./../components/_c-nav.jade
    // /block nav

    // block header
    block header
    // /block header

    // main.container-fluid
    main.container-fluid
      // block mainInner
      block mainInner
      // /block mainInner
    // /main.container-fluid

    // block footer
    block footer
      footer.container-fluid.c-footer
        section.row.bg-light.py-6.py-md-23
          .container
            h2.font-Raleway.text-center.u-fontWeight--Bold.u-fontWeight-md--ExtraBold.u-fontSize--6.u-fontSize-md--12.mb-4.mb-md-6
              | Subscribe for Exclusive Offer
            .row
              .col-md-10.col-xl-6.input-group.mb-3.mx-auto
                input.form-control(type='text', placeholder="Your email address", aria-label="Your email address", aria-describedby='footerInput')
                .input-group-append
                  button#footerInput.btn.btn-primary(type='button')
                    | subscribe
        section.row.bg-white.u-fontSize--3-5
          .container.d-md-flex
            ul.list-inline.mb-0
              li.list-inline-item
                a(href="#") FAQs
              li.list-inline-item
                a(href="#") Terms of use
              li.list-inline-item
                a(href="#") Privacy policy
            p.mb-0 © 2020 ALOHA, Inc. All rights reserved.
    // /block footer

    // block global-scripts
    block globalScripts
      script(src='assets/js/allVendors.js?#{new Date().getTime()}')
      script(src='assets/js/all.js?#{new Date().getTime()}')
    // /block global-scripts