/*----------  Google webfont  ----------*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
.font-Raleway {
  font-family: 'Raleway', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
.font-OpenSans {
  font-family: 'Open Sans', sans-serif;
}
/*----------  /Google webfont  ----------*/

/*----------  material-design-icons  ----------*/
/* 
  * material-design-icons iconFont 
  - 設定文件：https://google.github.io/material-design-icons/
  - 圖示列表：https://material.io/tools/icons/?style=baseline 
*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../iconfont/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('../iconfont/MaterialIcons-Regular.woff2') format('woff2'),
    url('../iconfont/MaterialIcons-Regular.woff') format('woff'),
    url('../iconfont/MaterialIcons-Regular.ttf') format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
/*----------  /material-design-icons  ----------*/
