/*----------  字重  ----------*/
.u-fontWeight {
  &--Regular {
    font-weight: 400;
  }
  &--Bold {
    font-weight: 700;
  }
  &--ExtraBold {
    font-weight: 800;
  }
  @include media-breakpoint-up(md) {
    &-md--ExtraBold {
      font-weight: 800;
    }
  }
}
/*----------  /字重  ----------*/

/*----------  自適應字級  ----------*/
// 全域字級
@include fontSizeBatch ();
/* 手動加入 */
.u-fontSize--3-5 { 
  /* 14px/4=3.5 */
  font-size: .875rem; 
}
/* /手動加入 */

// 斷點 sm 字級
@include media-breakpoint-up(sm) {
  @include fontSizeBatch (sm);
  /* 手動加入 */
  .u-fontSize-sm--3-5 { 
    /* 14px/4=3.5 */
    font-size: .875rem; 
  }
  /* /手動加入 */
}
// 斷點 md 字級
@include media-breakpoint-up(md) {
  @include fontSizeBatch (md);
  /* 手動加入 */
  .u-fontSize-md--3-5 { 
    /* 14px/4=3.5 */
    font-size: 0.875rem; 
  }
  /* /手動加入 */
}
// 斷點 lg 字級
@include media-breakpoint-up(lg) {
  @include fontSizeBatch (lg);
  /* 手動加入 */
  .u-fontSize-lg--3-5 { 
    /* 14px/4=3.5 */
    font-size: .875rem; 
  }
  /* /手動加入 */
}
// 斷點 xl 字級
@include media-breakpoint-up(xl) {
  @include fontSizeBatch (xl);
  /* 手動加入 */
  .u-fontSize-sm--3-5 { 
    /* 14px/4=3.5 */
    font-size: .875rem; 
  }
  /* /手動加入 */
}
/*----------  /自適應字級  ----------*/
