/**
 ** 配合 scss mixin - fontSizeBatch() 使用
*/

// u-fontSize
// scss 數學函式：https://zoneless.blog/2016/07/23/sass-tutorial-9/
$fontSize-base: 16; // 基本字級 16px -> 1rem
$font-stertMinNum: 1;// 起始最小級數數值
$font-endMaxNum: 80;// 結束最大級數數值
$font-tolerance: 4; // 每個字級公差數為 4。
$font-loopNum: $font-endMaxNum / $font-tolerance;
// /u-fontSize
